body
{
 background-image: url("./images/background.webp");
}
.DE2GridElement
{
  background-image: url("./images/DE2.png");
}
.container
{
  display: grid;
  grid-template-columns: auto 870px auto;
  grid-template-rows: 10% 622px 10%;
}
.container div
{

}
.container2
{
  display: grid;
  height: 100%;
  grid-template-columns: 55px auto 85px;
  grid-template-rows: 530px 20px auto;
}
.LedSquare
{
  border-radius: 20%;
  height: 20px;
  width: 20px;
  outline: 1px solid yellow;
  margin-right: 8.15px;
}

.ledRow
{
  display: flex;
}
.ledOff{
background-color: gray;
}
.ledOn33
{
  background-color: #878100;
}
.ledOn66
{
  background-color: #D3C900;
}
.ledOn100
{
  background-color: yellow;
}